    body {
        background: #333;
        color: #fff;
        font-family: Sans;
    }

    h1 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    a {
        color: #ccc;
    }
    .ctr {
        display: block;
        margin: auto;
        width: 80%;
        position: relative;
        top: 30px;
    }

    .button {
        font-style: italic;
        margin-top: 20px;
        width: 250px;
    }

    #show-img{ 
        max-width: 500px;
    }

    .footer {
        font-style: italic;
    }