            .formbox {
                display: block;
                margin: auto;
                margin-top: 50px;
                width: 80vw;
                padding: 16px;
                color: #000;
                font-family: Arial, Helvetica, sans-serif;
            }

            .formbox form {
                padding: 20px;
            }

            .googly-header {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 60px;
                margin: 0;
                padding: 0;
                background: #303F9F;
                color: #fff;

                box-shadow: 2px 2px 2px #888;
            }

            .googly-header .title {
                margin-left: 9px;
                margin-top: 14px;
                font-size: 30px;
                font-family: Helvetica;
            }

            .button {
                width: 200px;
                height: 40px;
                background: #303F9F;
                border-radius: 5px;
                color: #fff;
                text-transform: uppercase;
            }

            .it {
                margin: 10px;
            }