@font-face{
  font-family: "Script";
  src: url("script.ttf");
}

html {
  height: 100vh;
}

body {
  background: repeating-linear-gradient(
  -45deg,
  #a3cde6,
  #a3cde6 10px,
  #82aabd 10px,
  #82aabd 20px
);
}

.centralCard {
  display: block;
  margin: auto;
  
  width:  400px;
  margin-top: 20vh;
  min-height: 256px;
  border-radius: 8px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 6.5px 6.5px 6.5px rgba(0, 0, 0, .3);
}

.logo {
  color: #483742;
  font-family: "Script";
  font-weight: normal;
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.centralCard > * {
}

.centralCard > p, a, li, i {
  display: block;
  font-family: "Arial";
}

.dragDiv {
  display: flex;
  margin: auto;
  width:  95%;
  height: 100px;
  border: 2px dashed #82aabd;
}

.dragDiv > .help {
  pointer-events: none;
  user-select: none;
  display: block;
  margin: auto;
  color: #666;
  font-family: "Arial";
}

.info {
  margin-top: 10px;
  width: 100%;
  display: inline-block;
}

.info > * {
  margin: 5px 10px 0 0;
  float: left;
  clear: right;
}

.copy {
  font-family: "Arial";
  float: right;
  font-size: 12px;
  color: #444;
}

.abuse {
  font-size: 12px;
  color: #444;
}

a:visited {
  color: #0e3f5c;
}

.check {
  margin-bottom: 12px;
}

.check > label {
  font-family: "Arial";
}

.content > * {
  max-width: 100%;
}

#player_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
}

.plyr {
  max-height: 80vh;
}